.img-table-sm {
    max-width: 70px;
    height: 40px;
    object-fit: cover;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 4px 4px 8px #ddd;
}

.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* input[type="checkbox"] {
    height: auto !important;
    padding: 0;
} */


.modal-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-truncate {
    max-width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.img-thumbnail {
    max-width: 200px;
    height: 100px;
    object-fit: cover
}
